In this exercise, you've been provided with a dataset of outcomes from the [Austin Animal Center](https://www.austintexas.gov/austin-animal-center). Use this data to answer the following questions.

In [1]:
import pandas as pd

In [2]:
animals = pd.read_csv("../data/animals.csv")
animals.head()

       Name Type         Breed     Outcome Type  Days in Shelter
0      REMY  DOG        BEAGLE  RETURN TO OWNER                3
1    *RONDE  DOG  CHIHUAHUA SH         ADOPTION               49
2    *SNOOP  CAT   DOMESTIC SH         ADOPTION               38
3      FIFI  CAT       SIAMESE         ADOPTION                6
4  CINNAMON  DOG      PIT BULL  RETURN TO OWNER                1

**Question 1:** What is the most common Breed in the dataset?

In [36]:
most_common_breed = animals['Breed'].value_counts()

In [34]:
most_common_breed

Breed
DOMESTIC SH                    5989
PIT BULL                       1637
CHIHUAHUA SH                   1050
GERM SHEPHERD                   776
DOMESTIC MH                     737
                               ...
CAIRN TERRIER/SCHNAUZER MIN       1
DALMATIAN/AMERICAN STAFF          1
WELSH TERRIER                     1
BELG TERVUREN/MIX                 1
DACHSHUND/FOX TERR SMOOTH         1
Name: count, Length: 974, dtype: int64

**Question 2:** What is the most common Breed in the dataset for animals that are neither dogs nor cats?

In [37]:
neither_dog_cat=animals[animals['Type'].isin(['DOG', 'CAT']) == False]

In [38]:
neither_dog_cat['Breed'].value_counts()

Breed
RABBIT SH        342
CHICKEN          313
BAT              180
GOAT              87
GUINEA PIG        82
                ...
DEGU               1
AMERICAN/REX       1
BANTAM             1
FLORIDA WHITE      1
ALPINE/MIX         1
Name: count, Length: 126, dtype: int64

**Question 3:** Do a larger proportion of dogs or cats get returned to owners?

In [42]:
returned

0         True
1        False
2        False
3        False
4         True
         ...
21792    False
21793    False
21794    False
21795    False
21796    False
Name: Outcome Type, Length: 21797, dtype: bool

In [52]:
returned_to_owner = animals[(animals['Type'].isin(['DOG','CAT'])) & (animals['Outcome Type'] == 'RETURN TO OWNER')]

In [54]:
returned_to_owner['Type'].value_count()

AttributeError: 'Series' object has no attribute 'value_count'